scripts=["
    register namespace ( my ) http://www.ecx.io/dam-enablement/my/1.0

    create path (sling:OrderedFolder) /content/dam/dam-enablement-training
    create path (nt:unstructured) /content/dam/dam-enablement-training/jcr:content
    set properties on /content/dam/dam-enablement-training/jcr:content
        set cq:conf{String} to /conf/dam-enablement-training
        set jcr:title{String} to \"DAM Enablement Training\"
        set metadataSchema to /conf/global/settings/dam/adminui-extension/metadataschema/my-schema
    end

    create path (sling:OrderedFolder) /content/dam/dam-enablement-training/catalog
    create path (nt:unstructured) /content/dam/dam-enablement-training/catalog/jcr:content
    set properties on /content/dam/dam-enablement-training/catalog/jcr:content
        set jcr:title{String} to \"Catalog\"
    end

    create path (sling:OrderedFolder) /content/dam/dam-enablement-training/stock-assets
    create path (nt:unstructured) /content/dam/dam-enablement-training/stock-assets/jcr:content
    set properties on /content/dam/dam-enablement-training/stock-assets/jcr:content
        set jcr:title{String} to \"Stock Assets\"
    end

    create group my-dam-users with path dam-enablement/my-dam-users
    add my-dam-users to group contributor
    set ACL for my-dam-users
        allow jcr:read,rep:write,jcr:versionManagement,jcr:lockManagement,crx:replicate on /content/dam/dam-enablement-training/catalog
        allow jcr:read,jcr:modifyProperties,jcr:versionManagement,jcr:lockManagement,crx:replicate on /content/dam/dam-enablement-training/stock-assets
    end

    create group my-dam-managers with path dam-enablement/my-dam-managers
    add my-dam-managers to group my-dam-users
    set ACL for my-dam-managers
        allow rep:write on /content/dam/dam-enablement-training/stock-assets
    end
"]
