scripts=["
    register namespace ( my ) http://www.ecx.io/dam-enablement/my/1.0

    create path (sling:OrderedFolder) /content/dam/dam-enablement-training
    create path (nt:unstructured) /content/dam/dam-enablement-training/jcr:content
    set properties on /content/dam/dam-enablement-training/jcr:content
        set cq:conf{String} to /conf/dam-enablement-training
        set jcr:title{String} to \"DAM Enablement Training\"
    end
"]
